@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 208 100% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 208 100% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 205 66% 62%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 165 56% 74%;
    --accent-foreground: 165 50% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 205 66% 62%;
    --radius: 0.5rem;
    --chart-1: 205 66% 62%;
    --chart-2: 165 56% 74%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 220 44% 20%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 220 44% 30%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 220 44% 30%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 44% 15%;
    --sidebar-ring: 220 90% 60%;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 205 66% 62%;
    --primary-foreground: 210 20% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 165 56% 74%;
    --accent-foreground: 165 50% 25%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 205 66% 62%;

    --sidebar-background: 220 44% 20%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 220 44% 30%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 220 44% 30%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 44% 15%;
    --sidebar-ring: 220 90% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
